cs6795/lab1/XSD/clauses.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="clauses">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="rule"/>
					<xs:element ref="fact"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="conc"/>
				<xs:element ref="prem"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fact" type="xs:string"/>
	<xs:element name="conc" type="xs:string"/>
	<xs:element name="prem" type="xs:string"/>
</xs:schema>
